{% extends 'base.jinja2' %}

{% block subtitle %}Save Your Progress{% endblock subtitle %}

{% block content %}
<!--Your code is: <span id="code">FILL ME</span>-->
Your code is: <span id="code">{{ code }}</span>
{% endblock content %}